/* RESET */
*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

/* BODY */
body{
    font-family:Arial, sans-serif;
    height:100vh;

    display:flex;
    justify-content:center;
    align-items:center;

    background:linear-gradient(135deg,#68e7ff,#c9f7ff);
}

/* CONTAINER */
.container{
    width:100%;
    display:flex;
    justify-content:center;
    align-items:center;
    padding:20px;
}

/* CARD */
.card{
    width:350px;

    background:white;

    padding:35px 30px;

    border-radius:14px;

    box-shadow:0 10px 25px rgba(0,0,0,0.12);
}

/* TITLE */
.card h2{
    text-align:center;
    margin-bottom:25px;

    color:#222;
}

/* LABELS */
label{
    display:block;

    margin-bottom:6px;
    margin-top:14px;

    font-size:14px;
    font-weight:600;

    color:#333;
}

/* INPUTS */
input[type="text"],
input[type="password"]{

    width:100%;

    padding:12px;

    border:1px solid #ccc;
    border-radius:8px;

    outline:none;

    transition:0.3s;
}

/* INPUT FOCUS */
input[type="text"]:focus,
input[type="password"]:focus{
    border-color:#007BFF;
    box-shadow:0 0 5px rgba(0,123,255,0.3);
}

/* RADIO GROUP */
.radio-group{
    margin-top:10px;
    margin-bottom:10px;

    display:flex;
    gap:20px;

    align-items:center;
}

/* RADIO LABEL INLINE */
.radio-group label{
    margin:0;
    display:flex;
    align-items:center;
    gap:5px;
    font-weight:normal;
}

/* BUTTON */
.btn{
    width:100%;

    margin-top:25px;

    padding:12px;

    border:none;
    border-radius:8px;

    background:#007BFF;
    color:white;

    font-size:16px;
    font-weight:bold;

    cursor:pointer;

    transition:0.3s;
}

/* BUTTON HOVER */
.btn:hover{
    background:#005fd1;
}

/* SECONDARY BUTTON */
.secondary{
    background:#e9ecef;
    color:#222;
}

.secondary:hover{
    background:#d6dbe1;
}

/* BOTTOM TEXT */
.switch{
    text-align:center;
    margin-top:18px;

    font-size:14px;
}

.switch a{
    text-decoration:none;
    color:#007BFF;
    font-weight:bold;
}

.switch a:hover{
    text-decoration:underline;
}